---

---

<div>
    <p>Versión española del juego original <a href="https://bracket.city/" target="_blank">Bracket City</a></p>
    <ul>
        <li>Hecho con ♥ por <a href="http://fparedes.com" target="_blank">Fernando Paredes</a></li>
        <li><a href="http://fparedes.com" target="_blank">Github</a></li>
    </ul>
</div>

