---
import '../global.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Entre Corcheas - Juego Diario</title>
	</head>
	<body>
		<div class="container">
			<header>
				<slot name="header" />
			</header>

			<main>
				<slot name="main" />
			</main>

			<footer>
				<slot name="footer" />
			</footer>
		</div>
	</body>
</html>

<style>
	body {
		@media (min-width: 700px) {
			align-content: center;
		}
	}
	.container {
		max-width: 680px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: 10px;

		@media (min-width: 700px) {
			margin: 20px auto;
			border-radius: 7px;
			padding: 15px;
			box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
		}
	}

	header {
		margin-bottom: 20px;
	}

	main {
		flex-grow: 1;
	}
</style>
